@import "tailwindcss";

:root {
  --theme-girl: #ff00ff;
  --theme-boy: #0000ff;
  --theme-axis: #000000;
  --theme-chart-grid-line: #cccccc;
  --theme-text: #000000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.7em;
}

ul {
  list-style: disc;
  padding-left: 1em;
}
