@import "tailwindcss";

:root {
  --theme-girl: #ff00ff;
  --theme-boy: #0000ff;
  --theme-axis: #000000;
  --theme-chart-grid-line: #cccccc;
  --theme-text: #000000;
}

@layer base {
  input,
  textarea,
  select,
  button {
    @apply border border-gray-300 rounded-sm p-1;
  }

  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    @apply outline-none ring-2 ring-blue-500 border-blue-500;
  }
}
